/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./src/app/footer.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.footer_backtotop__3g8OE {
    position: fixed;
    opacity: 1;
    right: 15px;
    bottom: 27px;
    z-index: 996;
    background-color: #4dc247;
    box-shadow: 2px 2px 6px rgb(0 0 0 / 40%);
    border-radius: 25px;
    transition: all 0.4s;
    border: none;
    width: 154px;
    height: 36px;
}

.footer_backtotop__3g8OE div {
    color: #fff;
}

.footer_backtotop__3g8OE:hover {
    background: #4dc247;
    color: #fff;
}

.footer_wamessenger__kZYhB {
    fill: white;
    width: 30px;
    height: 22px;
    stroke: none;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer_footer__wZQAI {
    color: #444444;
    font-size: 14px;
    background: #f8fbfe;
    box-shadow: 0px 2px 15px rgba(18, 66, 101, 0.08);
}

.footer_footer__wZQAI .footer_footertop__G5ux9 {
    padding: 60px 0 30px 0;
    background: #fff;
}

.footer_footer__wZQAI .footer_footertop__G5ux9 .footer_footercontact__I_UsQ {
    margin-bottom: 30px;
}

.footer_footer__wZQAI .footer_footertop__G5ux9 .footer_footercontact__I_UsQ h3 {
    font-size: 26px;
    margin: 0 0 10px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 300;
}

.footer_footer__wZQAI .footer_footertop__G5ux9 .footer_footercontact__I_UsQ p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #777777;
}

.footer_footer__wZQAI .footer_footertop__G5ux9 h4 {
    font-size: 16px;
    font-weight: bold;
    color: #124265;
    position: relative;
    padding-bottom: 12px;
}

.footer_footer__wZQAI .footer_footertop__G5ux9 .footer_footerlinks__josHa {
    margin-bottom: 30px;
}

.footer_footer__wZQAI .footer_footertop__G5ux9 .footer_footerlinks__josHa ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer_footer__wZQAI .footer_footertop__G5ux9 .footer_footerlinks__josHa ul i {
    padding-right: 2px;
    color: #2487ce;
    font-size: 18px;
    line-height: 1;
}

.footer_footer__wZQAI .footer_footertop__G5ux9 .footer_footerlinks__josHa ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.footer_footer__wZQAI .footer_footertop__G5ux9 .footer_footerlinks__josHa ul li:firstchild {
    padding-top: 0;
}

.footer_footer__wZQAI .footer_footertop__G5ux9 .footer_footerlinks__josHa ul a {
    color: #777777;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

.footer_footer__wZQAI .footer_footertop__G5ux9 .footer_footerlinks__josHa ul a:hover {
    text-decoration: none;
    color: #2487ce;
}

.footer_footer__wZQAI .footer_footernewsletter__PcZov {
    font-size: 15px;
}

.footer_footer__wZQAI .footer_footernewsletter__PcZov h4 {
    font-size: 16px;
    font-weight: bold;
    color: #444444;
    position: relative;
    padding-bottom: 12px;
}

.footer_footer__wZQAI .footer_footernewsletter__PcZov form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 5px;
    text-align: left;
    border: 1px solid #cde5f6;
}

.footer_footer__wZQAI .footer_footernewsletter__PcZov form input[type=email] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
}

.footer_footer__wZQAI .footer_footernewsletter__PcZov form input[type=submit] {
    position: absolute;
    top: -1px;
    right: -2px;
    bottom: -1px;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px 2px 20px;
    background: #2487ce;
    color: #fff;
    transition: 0.3s;
    border-radius: 0 5px 5px 0;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.footer_footer__wZQAI .footer_footernewsletter__PcZov form input[type=submit]:hover {
    background: #3194db;
}

.footer_footer__wZQAI .footer_credits__wwiNg {
    padding-top: 5px;
    font-size: 13px;
    color: #444444;
}
.footer_footer__wZQAI .footer_sociallinks__LJAo5{
    margin-right: 7%;
}

.footer_footer__wZQAI .footer_sociallinks__LJAo5 a {
    font-size: 18px;
    display: inline-block;
    background: #2487ce;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 5px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

.footer_footer__wZQAI .footer_sociallinks__LJAo5 a:hover {
    background: #3194db;
    color: #fff;
    text-decoration: none;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./src/app/header.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header_header__ETP8E {
    transition: all 0.5s;
    background: #fff;
    z-index: 997;
    padding: 15px 0;
    border-bottom: 1px solid #e6f2fb;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.header_header__ETP8E.header_header-scrolled__2wddG {
    border-color: #fff;
    box-shadow: 0px 2px 15px rgba(18, 66, 101, 0.08);
}

.header_header__ETP8E .header_logo__KeU29 {
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 300;
    letter-spacing: 0.5px;
    font-family: "Poppins", sans-serif;
}



.header_header__ETP8E .header_logo__KeU29 a {
    color: #16507b;
}

.header_header__ETP8E .header_logo__KeU29 img {
    max-height: 50px;
}

@media (max-width: 992px) {
    .header_header__ETP8E .header_logo__KeU29 {
        font-size: 28px;
    }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.header_navbar__Q4WP2 {
    padding: 0;
}

.header_navbar__Q4WP2 ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.header_navbar__Q4WP2 li {
    position: relative;
}

.header_navbar__Q4WP2 a {
    -webkit-text-decoration: n;
            text-decoration: n;
}

.header_navbar__Q4WP2 a,
.header_navbar__Q4WP2 a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 14px;
    color: #16507b;
    white-space: nowrap;
    transition: 0.3s;
}

.header_navbar__Q4WP2 a i,
.header_navbar__Q4WP2 a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.header_navbar__Q4WP2 a:hover,
.header_navbar__Q4WP2 .header_active__twE51,
.header_navbar__Q4WP2 .header_active__twE51:focus,
.header_navbar__Q4WP2 li:hover>a {
    color: #2487ce;
}

.header_navbar__Q4WP2 .header_getstarted__OYmX_,
.header_navbar__Q4WP2 .header_getstarted__OYmX_:focus {
    background: #2487ce;
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 4px;
    color: #fff;
}

.header_navbar__Q4WP2 .header_getstarted__OYmX_:hover,
.header_navbar__Q4WP2 .header_getstarted__OYmX_:focus:hover {
    color: #fff;
    background: #3194db;
}

.header_navbar__Q4WP2 .header_dropdown__P3zKp ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
}

.header_navbar__Q4WP2 .header_dropdown__P3zKp ul li {
    min-width: 200px;
}

.header_navbar__Q4WP2 .header_dropdown__P3zKp ul a {
    padding: 10px 20px;
    text-transform: none;
}

.header_navbar__Q4WP2 .header_dropdown__P3zKp ul a i {
    font-size: 12px;
}

.header_navbar__Q4WP2 .header_dropdown__P3zKp ul a:hover,
.header_navbar__Q4WP2 .header_dropdown__P3zKp ul .header_active__twE51:hover,
.header_navbar__Q4WP2 .header_dropdown__P3zKp ul li:hover>a {
    color: #2487ce;
}

.header_navbar__Q4WP2 .header_dropdown__P3zKp:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.header_navbar__Q4WP2 .header_dropdown__P3zKp .header_dropdown__P3zKp ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.header_navbar__Q4WP2 .header_dropdown__P3zKp .header_dropdown__P3zKp:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .header_navbar__Q4WP2 .header_dropdown__P3zKp .header_dropdown__P3zKp ul {
        left: -90%;
    }

    .header_navbar__Q4WP2 .header_dropdown__P3zKp .header_dropdown__P3zKp:hover>ul {
        left: -100%;
    }
}

/**
* Mobile Navigation 
*/
.header_mobilenavtoggle___SLoO {
    color: #124265;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

.header_mobilenavtoggle___SLoO .header_mobilenavcross__UhRqF {
    color: #fff;
}

@media (max-width: 991px) {
    .header_mobilenavtoggle___SLoO {
        display: block;
    }

    .header_navbar__Q4WP2 ul {
        display: none;
    }
}

.header_navbarmobile__kTu2b {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(10, 38, 58, 0.9);
    transition: 0.3s;
    z-index: 999;
}

.header_navbarmobile__kTu2b .header_mobilenavtoggle___SLoO {
    position: absolute;
    top: 15px;
    right: 15px;
}

.header_navbarmobile__kTu2b ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.header_navbarmobile__kTu2b a,
.header_navbarmobile__kTu2b a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #124265;
}

.header_navbarmobile__kTu2b a:hover,
.header_navbarmobile__kTu2b .header_active__twE51,
.header_navbarmobile__kTu2b li:hover>a {
    color: #2487ce;
}

.header_navbarmobile__kTu2b .header_getstarted__OYmX_,
.header_navbarmobile__kTu2b .header_getstarted__OYmX_:focus {
    margin: 15px;
}

.header_navbarmobile__kTu2b .header_dropdown__P3zKp ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.header_navbarmobile__kTu2b .header_dropdown__P3zKp ul li {
    min-width: 200px;
}

.header_navbarmobile__kTu2b .header_dropdown__P3zKp ul a {
    padding: 10px 20px;
}

.header_navbarmobile__kTu2b .header_dropdown__P3zKp ul a i {
    font-size: 12px;
}

.header_navbarmobile__kTu2b .header_dropdown__P3zKp ul a:hover,
.header_navbarmobile__kTu2b .header_dropdown__P3zKp ul .header_active__twE51:hover,
.header_navbarmobile__kTu2b .header_dropdown__P3zKp ul li:hover>a {
    color: #2487ce;
}

.header_navbarmobile__kTu2b .header_dropdown__P3zKp>.header_dropdown-active__fS4_Y {
    display: block;
}

.header_navbarmobile__kTu2b .header_navcancel__ga6ZZ{
    display: none;
}
