/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./src/app/page.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.page_backtotop__ZC4Lz {
  position: fixed;
  opacity: 1;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background-color: #4dc247;
  box-shadow: 2px 2px 6px rgb(0 0 0 / 40%);
  border-radius: 25px;
  transition: all 0.4s;
  border: none;
  width: 154px;
  height: 36px;
}

.page_backtotop__ZC4Lz div {
  color: #fff;
}

.page_backtotop__ZC4Lz:hover {
  background:#4dc247;
  color: #fff;
}

.page_wamessenger__3bKeA {
  fill: white;
  width: 30px;
  height: 22px;
  stroke: none;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#page_preloader___MxP1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#page_preloader___MxP1:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #2487ce;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: page_animate-preloader___iBGG 1s linear infinite;
}

@keyframes page_animate-preloader___iBGG {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
/* @media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
} */


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.page_hero__ZoZym {
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
  position: relative;
  padding-top: 100px;
}

.page_hero__ZoZym:before {
  content: "";
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.page_hero__ZoZym .page_container__HHToX {
  padding-top: 80px;
}

.page_hero__ZoZym h1 {
  margin: 0;
  font-size: 52px;
  line-height: 72px;
  color: #124265;
}

.page_hero__ZoZym h2 {
  color: #5e5e5e;
  margin: 10px 0 0 0;
  font-size: 22px;
}

.page_hero__ZoZym .page_btngetstarted__wzG8w {
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 14px 50px;
  border-radius: 5px;
  transition: 0.5s;
  margin-top: 30px;
  color: #fff;
  background: #2487ce;
}

.page_hero__ZoZym .page_btngetstarted__wzG8w:hover {
  background: #3194db;
}

.page_hero__ZoZym .page_iconboxes__e6ziW {
  margin-top: 100px;
}

.page_hero__ZoZym .page_iconboxes__e6ziW .page_iconcol__alyoO {
  width: 20%;
}

.page_hero__ZoZym .page_iconbox__W1g2u {
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
}

.page_hero__ZoZym .page_iconbox__W1g2u img {
  height: 193px;
  width: 100%;
}

.page_hero__ZoZym .page_iconbox__W1g2u .page_title__yhPp_ {
  font-size: 18px;
  text-align: center;
  margin-top: 2px;
}

.page_hero__ZoZym .page_iconbox__W1g2u .page_title__yhPp_ a {
  font-size: 18px;
  font-weight: 600;
  color: rgb(53, 53, 53);
  line-height: 19px;
}

.page_hero__ZoZym .page_iconbox__W1g2u .page_description__s_Lqk {
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 0;
  color: #5B5A5B;
  padding: 0px 8px 8px 8px;
}

.page_hero__ZoZym .page_iconbox__W1g2u .page_icon__NhlQl {
  margin-bottom: 20px;
  padding-top: 10px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  font-size: 36px;
  line-height: 1;
  color: #2487ce;
}

.page_hero__ZoZym .page_iconbox__W1g2u:hover {
  transform: scale(1.08);
  cursor: pointer;
}


@media (min-width: 1024px) {
  .page_hero__ZoZym {
    background-attachment: fixed;
  }
}

@media (max-height: 800px) {
  .page_hero__ZoZym {
    height: auto;
  }
}

@media (max-width: 992px) {
  .page_hero__ZoZym {
    height: auto;
  }

  .page_hero__ZoZym h1 {
    font-size: 28px;
    line-height: 36px;
  }

  .page_hero__ZoZym h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width: 1024px) {
  .page_hero__ZoZym .page_iconboxes__e6ziW .page_iconcol__alyoO {
    align-items: center;
    text-align: center;
    width: 300px;
    margin: 0 auto;
  }
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/


.page_sectionbg__TEjmA {
  background-color: #f8fbfe;
}

.page_sectiontitle__qNy5p {
  text-align: center;
  padding-bottom: 30px;
}

.page_sectiontitle__qNy5p h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #124265;
}

.page_sectiontitle__qNy5p p {
  margin-bottom: 0;
  font-size: 14px;
  color: #5B5A5B;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.page_about__VL9KY .page_content__rFejU h3 {
  font-weight: 600;
  font-size: 26px;
}

.page_about__VL9KY .page_content__rFejU ul {
  list-style: none;
  padding: 0;
}

.page_about__VL9KY .page_content__rFejU ul li {
  padding-left: 28px;
  position: relative;
}

.page_about__VL9KY .page_content__rFejU ul li+li {
  margin-top: 10px;
}

.page_about__VL9KY .page_content__rFejU ul i {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 20px;
  color: #2487ce;
  line-height: 1;
}

.page_about__VL9KY .page_content__rFejU p:last-child {
  margin-bottom: 0;
}

.page_about__VL9KY .page_content__rFejU .page_btn-learn-more__p7J_R {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 5px;
  transition: 0.3s;
  line-height: 1;
  color: #2487ce;
  animation-delay: 0.8s;
  margin-top: 6px;
  border: 2px solid #2487ce;
}

.page_about__VL9KY .page_content__rFejU .page_btn-learn-more__p7J_R:hover {
  background: #2487ce;
  color: #fff;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.page_counts__PjcpW {
  padding: 60px 0;
}

.page_counts__PjcpW .page_countbox__yGdAN {
  width: 100%;
  text-align: center;
}

.page_counts__PjcpW .page_countbox__yGdAN span {
  font-size: 48px;
  line-height: 48px;
  display: block;
  font-weight: 700;
  color: #124265;
  margin-left: 80px;
  margin: auto;
}

.page_counts__PjcpW .page_countbox__yGdAN p {
  padding: 8px 0 0 0;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #1e6ca6;
}

/*--------------------------------------------------------------
# About Video
--------------------------------------------------------------*/
.page_about-video__a3WTN .page_content__rFejU {
  font-size: 15px;
}

.page_about-video__a3WTN .page_content__rFejU h3 {
  font-weight: 700;
  font-size: 24px;
  color: #124265;
}

.page_about-video__a3WTN .page_content__rFejU ul {
  list-style: none;
  padding: 0;
}

.page_about-video__a3WTN .page_content__rFejU ul li {
  padding-bottom: 10px;
  padding-left: 28px;
  position: relative;
}

.page_about-video__a3WTN .page_content__rFejU ul i {
  font-size: 24px;
  color: #2487ce;
  position: absolute;
  left: 0;
  top: -2px;
}

.page_about-video__a3WTN .page_content__rFejU p:last-child {
  margin-bottom: 0;
}

.page_about-video__a3WTN .page_play-btn__p2aMA {
  width: 94px;
  height: 94px;
  background: radial-gradient(#2487ce 50%, rgba(36, 135, 206, 0.4) 52%);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  overflow: hidden;
}

.page_about-video__a3WTN .page_play-btn__p2aMA::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.page_about-video__a3WTN .page_play-btn__p2aMA::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  animation-delay: 0s;
  animation: page_pulsate-btn__KgAxN 2s;
  animation-direction: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(36, 135, 206, 0.7);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

.page_about-video__a3WTN .page_play-btn__p2aMA:hover::after {
  border-left: 15px solid #2487ce;
  transform: scale(20);
}

.page_about-video__a3WTN .page_play-btn__p2aMA:hover::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  animation: none;
  border-radius: 0;
}

@keyframes page_pulsate-btn__KgAxN {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.page_clients__NtDkD {
  padding: 15px 0;
  text-align: center;
}

.page_clients__NtDkD img {
  max-width: 45%;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
  filter: grayscale(100);
}

.page_clients__NtDkD .page_toefllogo__yaQ3_ {
  width: 50%;
}

.page_clients__NtDkD .page_ptelogo__agUp_ {
  max-width: 58%;
}

.page_clients__NtDkD .page_cambridgelogo__BcSxU {
  max-width: 58%;
}

.page_clients__NtDkD .page_duolingologo__HyEsh {
  max-width: 60%;
}


.page_clients__NtDkD img:hover {
  filter: none;
  transform: scale(1.15);
}



@media (max-width: 768px) {
  .page_clients__NtDkD img {
    max-width: 40%;
  }
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.page_testimonials__63f1W .page_testimonials-carousel__xvrXl,
.page_testimonials__63f1W .page_testimonials-slider__Lh4PK {
  overflow: hidden;
}

.page_testimonials__63f1W .page_testimonial-item__IL6jQ {
  box-sizing: content-box;
  text-align: center;
  min-height: 320px;
}

.page_testimonials__63f1W .page_testimonial-item__IL6jQ .page_testimonial-img__nIwGL {
  width: 90px;
  border-radius: 50%;
  margin: 0 auto;
}

.page_testimonials__63f1W .page_testimonial-item__IL6jQ h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.page_testimonials__63f1W .page_testimonial-item__IL6jQ h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}

.page_testimonials__63f1W .page_testimonial-item__IL6jQ .page_quote-icon-left__9x6Kf,
.page_testimonials__63f1W .page_testimonial-item__IL6jQ .page_quote-icon-right__G7bBx {
  color: #c9e3f5;
  font-size: 26px;
}

.page_testimonials__63f1W .page_testimonial-item__IL6jQ .page_quote-icon-left__9x6Kf {
  display: inline-block;
  left: -5px;
  position: relative;
}

.page_testimonials__63f1W .page_testimonial-item__IL6jQ .page_quote-icon-right__G7bBx {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.page_testimonials__63f1W .page_testimonial-item__IL6jQ p {
  font-style: italic;
  margin: 0 15px 15px 15px;
  padding: 20px;
  background: #f3f9fd;
  position: relative;
  margin-bottom: 35px;
  border-radius: 6px;
}

.page_testimonials__63f1W .page_testimonial-item__IL6jQ p::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 20px solid #f3f9fd;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  position: absolute;
  bottom: -20px;
  left: calc(50% - 20px);
}

.page_testimonials__63f1W .page_swiper-pagination__nGKxo {
  margin-top: 20px;
  position: relative;
}

.page_testimonials__63f1W .page_swiper-pagination__nGKxo .page_swiper-pagination-bullet__MUMR1 {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #2487ce;
}

.page_testimonials__63f1W .page_swiper-pagination__nGKxo .page_swiper-pagination-bullet-active__itSGE {
  background-color: #2487ce;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.page_services__RzG1f .page_icon-box___st6B {
  text-align: center;
  padding: 70px 20px 80px 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
  box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.05);
}

.page_services__RzG1f .page_icon-box___st6B .page_icon__NhlQl {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
}

.page_services__RzG1f .page_icon-box___st6B .page_icon__NhlQl i {
  font-size: 36px;
  transition: 0.5s;
  position: relative;
}

.page_services__RzG1f .page_icon-box___st6B .page_icon__NhlQl svg {
  position: absolute;
  top: 0;
  left: 0;
}

.page_services__RzG1f .page_icon-box___st6B .page_icon__NhlQl svg path {
  transition: 0.5s;
  fill: #f5f5f5;
}

.page_services__RzG1f .page_icon-box___st6B h4 {
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 22px;
}

.page_services__RzG1f .page_icon-box___st6B h4 a {
  color: #124265;
  transition: ease-in-out 0.3s;
}

.page_services__RzG1f .page_icon-box___st6B p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.page_services__RzG1f .page_icon-box___st6B:hover {
  border-color: #fff;
  box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
}

.page_services__RzG1f .page_iconbox-blue__u6whM i {
  color: #47aeff;
}

.page_services__RzG1f .page_iconbox-blue__u6whM:hover .page_icon__NhlQl i {
  color: #fff;
}

.page_services__RzG1f .page_iconbox-blue__u6whM:hover .page_icon__NhlQl path {
  fill: #47aeff;
}

.page_services__RzG1f .page_iconbox-orange__HkvkF i {
  color: #ffa76e;
}

.page_services__RzG1f .page_iconbox-orange__HkvkF:hover .page_icon__NhlQl i {
  color: #fff;
}

.page_services__RzG1f .page_iconbox-orange__HkvkF:hover .page_icon__NhlQl path {
  fill: #ffa76e;
}

.page_services__RzG1f .page_iconbox-pink__tLQMc i {
  color: #e80368;
}

.page_services__RzG1f .page_iconbox-pink__tLQMc:hover .page_icon__NhlQl i {
  color: #fff;
}

.page_services__RzG1f .page_iconbox-pink__tLQMc:hover .page_icon__NhlQl path {
  fill: #e80368;
}

.page_services__RzG1f .page_iconbox-yellow__1zJA6 i {
  color: #ffbb2c;
}

.page_services__RzG1f .page_iconbox-yellow__1zJA6:hover .page_icon__NhlQl i {
  color: #fff;
}

.page_services__RzG1f .page_iconbox-yellow__1zJA6:hover .page_icon__NhlQl path {
  fill: #ffbb2c;
}

.page_services__RzG1f .page_iconbox-red__RM9vL i {
  color: #ff5828;
}

.page_services__RzG1f .page_iconbox-red__RM9vL:hover .page_icon__NhlQl i {
  color: #fff;
}

.page_services__RzG1f .page_iconbox-red__RM9vL:hover .page_icon__NhlQl path {
  fill: #ff5828;
}

.page_services__RzG1f .page_iconbox-teal__pqZHH i {
  color: #11dbcf;
}

.page_services__RzG1f .page_iconbox-teal__pqZHH:hover .page_icon__NhlQl i {
  color: #fff;
}

.page_services__RzG1f .page_iconbox-teal__pqZHH:hover .page_icon__NhlQl path {
  fill: #11dbcf;
}

/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.page_cta__nR6fT {
  background: #2487ce;
  background-size: cover;
  padding: 60px 0;
}

.page_cta__nR6fT h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

.page_cta__nR6fT p {
  color: #fff;
}

.page_cta__nR6fT .page_cta-btn__5bP1c {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 35px;
  border-radius: 5px;
  transition: 0.5s;
  margin-top: 10px;
  border: 2px solid #fff;
  color: #fff;
}

.page_cta__nR6fT .page_cta-btn__5bP1c:hover {
  background: #fff;
  color: #2487ce;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.page_portfolio__vvXZl .page_portfolio-item__x114W {
  margin-bottom: 30px;
}

.page_portfolio__vvXZl #page_portfolio-flters__Zds0j {
  padding: 0;
  margin: 0 auto 35px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
  padding: 2px 15px;
}

.page_portfolio__vvXZl #page_portfolio-flters__Zds0j li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.page_portfolio__vvXZl #page_portfolio-flters__Zds0j li:hover,
.page_portfolio__vvXZl #page_portfolio-flters__Zds0j li.page_filter-active__Mz1m3 {
  color: #2487ce;
}

.page_portfolio__vvXZl #page_portfolio-flters__Zds0j li:last-child {
  margin-right: 0;
}

.page_portfolio__vvXZl .page_portfolio-wrap__tlzsI {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.page_portfolio__vvXZl .page_portfolio-wrap__tlzsI::before {
  content: "";
  background: rgba(36, 135, 206, 0.6);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.page_portfolio__vvXZl .page_portfolio-wrap__tlzsI .page_portfolio-info__mDr4n {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page_portfolio__vvXZl .page_portfolio-wrap__tlzsI .page_portfolio-info__mDr4n::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.page_portfolio__vvXZl .page_portfolio-wrap__tlzsI .page_portfolio-info__mDr4n::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.page_portfolio__vvXZl .page_portfolio-wrap__tlzsI .page_portfolio-info__mDr4n h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.page_portfolio__vvXZl .page_portfolio-wrap__tlzsI .page_portfolio-info__mDr4n p {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.page_portfolio__vvXZl .page_portfolio-wrap__tlzsI .page_portfolio-links__fSGqU {
  text-align: center;
  z-index: 4;
}

.page_portfolio__vvXZl .page_portfolio-wrap__tlzsI .page_portfolio-links__fSGqU a {
  color: rgba(255, 255, 255, 0.6);
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.page_portfolio__vvXZl .page_portfolio-wrap__tlzsI .page_portfolio-links__fSGqU a:hover {
  color: #fff;
}

.page_portfolio__vvXZl .page_portfolio-wrap__tlzsI:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.page_portfolio__vvXZl .page_portfolio-wrap__tlzsI:hover .page_portfolio-info__mDr4n {
  opacity: 1;
}

.page_portfolio__vvXZl .page_portfolio-wrap__tlzsI:hover .page_portfolio-info__mDr4n::before {
  top: 15px;
  left: 15px;
}

.page_portfolio__vvXZl .page_portfolio-wrap__tlzsI:hover .page_portfolio-info__mDr4n::after {
  bottom: 15px;
  right: 15px;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.page_portfolio-details__NeBSD {
  padding-top: 40px;
}

.page_portfolio-details__NeBSD .page_portfolio-details-slider__6QsTJ img {
  width: 100%;
}

.page_portfolio-details__NeBSD .page_portfolio-details-slider__6QsTJ .page_swiper-pagination__nGKxo {
  margin-top: 20px;
  position: relative;
}

.page_portfolio-details__NeBSD .page_portfolio-details-slider__6QsTJ .page_swiper-pagination__nGKxo .page_swiper-pagination-bullet__MUMR1 {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #2487ce;
}

.page_portfolio-details__NeBSD .page_portfolio-details-slider__6QsTJ .page_swiper-pagination__nGKxo .page_swiper-pagination-bullet-active__itSGE {
  background-color: #2487ce;
}

.page_portfolio-details__NeBSD .page_portfolio-info__mDr4n {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(18, 66, 101, 0.08);
}

.page_portfolio-details__NeBSD .page_portfolio-info__mDr4n h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.page_portfolio-details__NeBSD .page_portfolio-info__mDr4n ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.page_portfolio-details__NeBSD .page_portfolio-info__mDr4n ul li+li {
  margin-top: 10px;
}

.page_portfolio-details__NeBSD .page_portfolio-description__UDVKR {
  padding-top: 30px;
}

.page_portfolio-details__NeBSD .page_portfolio-description__UDVKR h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.page_portfolio-details__NeBSD .page_portfolio-description__UDVKR p {
  padding: 0;
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.page_team__auW4v .page_member__lOOgA {
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(18, 66, 101, 0.08);
}

.page_team__auW4v .page_member__lOOgA .page_member-img__FR0Nb {
  position: relative;
  overflow: hidden;
}

.page_team__auW4v .page_member__lOOgA .page_social__qyhDQ {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 40px;
  opacity: 0;
  transition: ease-in-out 0.3s;
  text-align: center;
  background: rgba(255, 255, 255, 0.85);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.page_team__auW4v .page_member__lOOgA .page_social__qyhDQ a {
  transition: color 0.3s;
  color: #124265;
  margin: 0 10px;
  display: inline-block;
}

.page_team__auW4v .page_member__lOOgA .page_social__qyhDQ a:hover {
  color: #2487ce;
}

.page_team__auW4v .page_member__lOOgA .page_social__qyhDQ i {
  font-size: 18px;
  margin: 0 2px;
  line-height: 0;
}

.page_team__auW4v .page_member__lOOgA .page_member-info__dN7Kp {
  padding: 25px 15px;
}

.page_team__auW4v .page_member__lOOgA .page_member-info__dN7Kp h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #124265;
}

.page_team__auW4v .page_member__lOOgA .page_member-info__dN7Kp span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #aaaaaa;
}

.page_team__auW4v .page_member__lOOgA .page_member-info__dN7Kp p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
}

.page_team__auW4v .page_member__lOOgA:hover .page_social__qyhDQ {
  opacity: 1;
}

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.page_pricing__pXwiH .page_box__KfiXd {
  text-align: center;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  background: #fefefe;
  box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.1);
}

.page_pricing__pXwiH .page_box__KfiXd h3 {
  font-weight: 400;
  padding-top: 17px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  color: #124265;
}

.page_pricing__pXwiH .page_box__KfiXd h4 {
  font-size: 42px;
  color: #2487ce;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
}

.page_pricing__pXwiH .page_box__KfiXd h4 sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}

.page_pricing__pXwiH .page_box__KfiXd h4 span {
  color: #5B5A5B;
  font-size: 16px;
  font-weight: 300;
}

.page_pricing__pXwiH .page_box__KfiXd ul {
  padding: 0;
  list-style: none;
  color: #124265;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

.page_pricing__pXwiH .page_box__KfiXd ul li {
  padding-bottom: 16px;
}

.page_pricing__pXwiH .page_box__KfiXd ul .page_na__B4MCu {
  color: #ccc;
  text-decoration: line-through;
}

.page_pricing__pXwiH .page_box__KfiXd .page_btnwrap__Q0g7T {
  padding: 15px;
  text-align: center;
}

.page_pricing__pXwiH .page_box__KfiXd .page_btnbuy__wycyR {
  display: inline-block;
  padding: 10px 40px;
  border-radius: 4px;
  color: #2487ce;
  transition: none;
  font-size: 14px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  transition: 0.3s;
  border: 2px solid #2487ce;
}

.page_pricing__pXwiH .page_box__KfiXd .page_btnbuy__wycyR:hover {
  background: #2487ce;
  color: #fff;
}

.page_pricing__pXwiH .page_featured__sZr7L {
  background: #2487ce;
}

.page_pricing__pXwiH .page_featured__sZr7L h3,
.page_pricing__pXwiH .page_featured__sZr7L h4,
.page_pricing__pXwiH .page_featured__sZr7L h4 span,
.page_pricing__pXwiH .page_featured__sZr7L ul,
.page_pricing__pXwiH .page_featured__sZr7L ul .page_na__B4MCu {
  color: #fff;
}

.page_pricing__pXwiH .page_featured__sZr7L .page_btnwrap__Q0g7T {
  padding: 15px;
  text-align: center;
}

.page_pricing__pXwiH .page_featured__sZr7L .page_btnbuy__wycyR {
  color: #fff;
  border: 2px solid #fff;
}

.page_pricing__pXwiH .page_featured__sZr7L .page_btnbuy__wycyR:hover {
  background: #fff;
  color: #2487ce;
}

.page_pricing__pXwiH .page_sectiontitle__qNy5p>p {
  margin: auto;
  width: 50%;
}

.page_pricing__pXwiH .page_pricingwrapper__QmcHG {
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.page_pricing__pXwiH .page_pricingwrapper__QmcHG .page_onemonth__0hj99 {
  font-size: 14px;
  color: #241448;
  font-weight: 600;
  margin-right: 10px;
  margin: auto 0;
  margin-right: 15px;
}

.page_pricing__pXwiH .page_pricingwrapper__QmcHG .page_switchwrap___h6Rv {
  margin: auto 0;
}

.page_pricing__pXwiH .page_pricingwrapper__QmcHG .page_oneplusmonths__uktIl {
  margin: auto 0;
  margin-left: 12px;
  font-size: 14px;
  color: #241448;
  font-weight: 600;
  display: flex;
  justify-content: center;
  ;
}

.page_pricing__pXwiH .page_pricingwrapper__QmcHG .page_oneplusmonths__uktIl .page_percentageoff__pAmlL {
  margin-left: 8px;
  border-radius: 5px;
  background-color: #e8e4f7;
  font-size: 12px;
  padding: 1px;
  width: 60px;
}

/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.page_faq__JucEu .page_faq-list__I6cY6 {
  padding: 0 100px;
}

.page_faq__JucEu .page_faq-list__I6cY6 ul {
  padding: 0;
  list-style: none;
}

.page_faq__JucEu .page_faq-list__I6cY6 li+li {
  margin-top: 15px;
}

.page_faq__JucEu .page_faq-list__I6cY6 li {
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  position: relative;
}

.page_faq__JucEu .page_faq-list__I6cY6 a {
  display: block;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 0 30px;
  outline: none;
  cursor: pointer;
}

.page_faq__JucEu .page_faq-list__I6cY6 .page_icon-help__U15qk {
  font-size: 24px;
  position: absolute;
  right: 0;
  left: 20px;
  color: #87c1ea;
}

.page_faq__JucEu .page_faq-list__I6cY6 .page_icon-show__LOskX,
.page_faq__JucEu .page_faq-list__I6cY6 .page_icon-close__kVuNs {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.page_faq__JucEu .page_faq-list__I6cY6 p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.page_faq__JucEu .page_faq-list__I6cY6 .page_icon-show__LOskX {
  display: none;
}

.page_faq__JucEu .page_faq-list__I6cY6 a.page_collapsed__PC8nE {
  color: #343a40;
}

.page_faq__JucEu .page_faq-list__I6cY6 a.page_collapsed__PC8nE:hover {
  color: #2487ce;
}

.page_faq__JucEu .page_faq-list__I6cY6 a.page_collapsed__PC8nE .page_icon-show__LOskX {
  display: inline-block;
}

.page_faq__JucEu .page_faq-list__I6cY6 a.page_collapsed__PC8nE .page_icon-close__kVuNs {
  display: none;
}

@media (max-width: 1200px) {
  .page_faq__JucEu .page_faq-list__I6cY6 {
    padding: 0;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.page_contact__WxX4r .page_info__cdUyq {
  width: 100%;
  background: #fff;
}

.page_contact__WxX4r .page_info__cdUyq i {
  font-size: 20px;
  color: #2487ce;
  float: left;
  width: 44px;
  height: 44px;
  background: #e3f0fa;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.page_contact__WxX4r .page_info__cdUyq h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #124265;
}

.page_contact__WxX4r .page_info__cdUyq p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #217bbc;
}

.page_contact__WxX4r .page_info__cdUyq .page_email__ekyms,
.page_contact__WxX4r .page_info__cdUyq .page_phone__bNSf6 {
  margin-top: 40px;
}

.page_contact__WxX4r .page_info__cdUyq .page_email__ekyms:hover i,
.page_contact__WxX4r .page_info__cdUyq .page_address___eE2d:hover i,
.page_contact__WxX4r .page_info__cdUyq .page_phone__bNSf6:hover i {
  background: #2487ce;
  color: #fff;
}

.page_contact__WxX4r .page_phpemailform__FJ_iK {
  width: 100%;
  background: #fff;
}

.page_contact__WxX4r .page_phpemailform__FJ_iK .page_formgroup__ExxVm {
  padding-bottom: 8px;
}

.page_contact__WxX4r .page_phpemailform__FJ_iK .page_errormessage__Q8qNA {
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.page_contact__WxX4r .page_phpemailform__FJ_iK .page_errormessage__Q8qNA br+br {
  margin-top: 25px;
}

.page_contact__WxX4r .page_phpemailform__FJ_iK .page_sentmessage__Mlv7B {
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.page_loading__JIPun {
  background: #fff;
  text-align: center;
  padding: 15px;
}

.page_loading__JIPun:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: page_animate-loading__H0iPt 1s linear infinite;
}

.page_contact__WxX4r .page_phpemailform__FJ_iK input,
.page_contact__WxX4r .page_phpemailform__FJ_iK textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}

.page_contact__WxX4r .page_phpemailform__FJ_iK input:focus,
.page_contact__WxX4r .page_phpemailform__FJ_iK textarea:focus {
  border-color: #2487ce;
}

.page_contact__WxX4r .page_phpemailform__FJ_iK input {
  height: 44px;
}

.page_contact__WxX4r .page_phpemailform__FJ_iK textarea {
  padding: 10px 12px;
}

.page_contact__WxX4r .page_phpemailform__FJ_iK button[type=submit] {
  background: #2487ce;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.page_contact__WxX4r .page_phpemailform__FJ_iK button[type=submit]:hover {
  background: #3194db;
}

.page_invalidInput__XhGk7{
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #dc3545;
}

@keyframes page_animate-loading__H0iPt {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.page_breadcrumbs__SAdS1 {
  padding: 15px 0;
  background: #f8fbfe;
  min-height: 40px;
  margin-top: 72px;
}

@media (max-width: 992px) {
  .page_breadcrumbs__SAdS1 {
    margin-top: 58px;
  }
}

.page_breadcrumbs__SAdS1 h2 {
  font-size: 24px;
  font-weight: 300;
}

.page_breadcrumbs__SAdS1 ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.page_breadcrumbs__SAdS1 ol li+li {
  padding-left: 10px;
}

.page_breadcrumbs__SAdS1 ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #1a5e90;
  content: "/";
}

@media (max-width: 768px) {
  .page_breadcrumbs__SAdS1 .page_dflex__1oNHD {
    display: block !important;
  }

  .page_breadcrumbs__SAdS1 ol {
    display: block;
  }

  .page_breadcrumbs__SAdS1 ol li {
    display: inline-block;
  }
}


/* Toggle Button Starts */

.page_switchwrap___h6Rv {
  cursor: pointer;
  background: #15273b;
  padding: 5px;
  width: 60px;
  height: 33px;
  border-radius: 35px;
  margin-top: 4%;
}

.page_switchwrap___h6Rv input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.page_switch__5gxx4 {
  height: 100%;
  display: grid;
  grid-template-columns: 0fr 1fr 1fr;
  transition: .2s;
}

.page_switch__5gxx4::before {
  background: #fff3f3;
}

.page_switch__5gxx4::after {
  content: '';
  border-radius: 50%;
  background: #ccc;
  grid-column: 2;
  transition: #ccc .2s;
}

input:checked+.page_switch__5gxx4 {
  grid-template-columns: 1fr 1fr 0fr;
}

input:checked+.page_switch__5gxx4::after {
  background-color: #52cf71;
}

/* Toggle Button Ends */

.page_thankyou-content__a66kI {
  display: none;
}

.page_grecaptcha-badge__kKUMq {
  visibility: hidden;
}

.page_align-items-center__ghIR9 {
  align-items: center !important;
}


